<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper-1.14.7.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imge/logo/blogo.jpg' %}">

    <title>BAUET Blood Bank Management System</title>
</head>

<body>
    <div class="container-fluid">
        <!-- head title -->
        <header>
            <h5 class="head text-white text-center p-3">BAUET Blood Bank Management System</h5>
        </header>

        <!-- navbar -->
        <nav class="navbar navbar-expand-sm sticky-top">

            <!-- logo -->
            <a class="navbar-brand ml-5" href="#">
                <img src="{% static 'imge/logo/blogo.jpg' %}" alt="logo" style="width:60px;">
            </a>

            <!-- navbar item -->
            <div class="col">
                <ul class="navbar-nav flex-row-reverse">
                    <li class="nav-item text-dark">
                        <a class="nav-link font-weight-bolder" href="{% url 'aboutsite1' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder" href="{% url 'contactsite1' %}">Contact Us</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bolder" href="#" data-toggle="dropdown">
              Log In
            </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item font-weight-bolder" href="/admin/">Admin</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bolder" href="{% url 'dregsite' %}">Donor Registration</a>
                    </li>
                    <li class="nav-item font-weight-bolder">
                        <a class="nav-link" href="{% url 'searchsite1' %}">Search</a>
                    </li>
                    <li class="nav-item font-weight-bolder">
                        <a class="nav-link" href="{% url 'homesite1' %}">Home</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Carousel  -->
        <div class="carousel_slid">
            <div class="opacity_carousel"></div>
            <div id="slide" class="carousel slide" data-ride="carousel">
                <!-- carousel indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-img-1 active">
                         <img src="{{ home_slider.slider_1.url }}" alt="Slid Image">
                        <div class="carousel-caption">
                            <h3>Just Donate Blood</h3>
                            <p>Do yout know just a point of blood can save up to 3 lives?</p>
                        </div>
                    </div>
                    <!-- carousel item -->
                    <div class="carousel-item carousel-img-2">
                        <img src="{{ home_slider.slider_2.url }}" alt="Slid Image">
                        <div class="carousel-caption">
                            <h3>Just Donate Blood</h3>
                            <p>Donating blood is safe.</p>
                        </div>
                    </div>
                    <div class="carousel-item carousel-img-3">
                        <img src="{{ home_slider.slider_3.url }}" alt="Slid Image">
                        <div class="carousel-caption">
                            <h3>Just Donate Blood</h3>
                            <p>Donating blood is simple,painless and noble</p>
                        </div>
                    </div>
                </div>
                <!-- carousel control -->
                <a class="carousel-control-prev" href="#slide" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#slide" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

        {% block content %} 
        
        
        {% endblock %}

        <!-- footer -->
        <div class="footer clearfix">
            <p class="text-center text-white p-2">
                Bangladesh Army University of Engineering & Technology
                <br> Qadirabad Cantonment, Natore
                <br> Phone: +880 1708503510, 01708503504, 01708503514
                <br> Email: info@bauet.ac.bd, registrar@bauet.ac.bd
                <br>

            </p>

        </div>

    </div>
</body>

</html>